/* You can add global styles to this file, and also import other style files */ 
/* .col {
    display: flex;
    flex-direction: column;
}
  
.card-panel {
    display: flex;
    flex: 1;
}
.pokemonName{
    font-size: xxx-large;
}
.pokemonCreation{
    margin-top: -15%;
    font-size: xx-large;
} */